

<div id = 'react_root'>

</div>
<%= content_tag :div,
  id: "todos_data",
  data: @todos.to_json do %>
<% end %>

<%= javascript_pack_tag 'react/js/components/todos/index' %>
<%= stylesheet_pack_tag 'react/css/application' %>